body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #222222;
}

header {
    background-color: #111111;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #333333;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 25px;
}

h2 {
    text-align: center;
}

footer {
    background-color: #111111;
    color: white;
    text-align: center;
    padding: 15px;
}
img {
    width: 80%;
    max-width: 600px;
    display: block;
    margin: 15px auto 30px auto;
}

/* Color Theme */

header h1 {
    color: #e63946;
}

nav a:hover {
    color: #e63946;
    text-decoration: none;
}

main {
    border-top: 5px solid #e63946;
    border-radius: 10px;
}

h1, h2 {
    color: #c1121f;
}

main a {
    color: #c1121f;
}

main a:hover {
    color: #780000;
}

footer {
    background-color: #111111;
    color: white;
    text-align: center;
    padding: 20px;
}
/* Different page colors */

.home-page main {
    background-color: #dce6f1;
}

.cars-page main {
    background-color: #f4dddd;
}

.performance-page main {
    background-color: #f5ead1;
}

.gallery-page main {
    background-color: #dcecf2;
}